@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  /* background-color: #111827; bg-neutral-900 */
  /* color: white; text-white */
  max-width: 640px; /* max-w-screen-sm */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
}
